.color-primary {
  color: $primary-color;
}
.bg-primary {
  background: $primary-color;
}

.color-primary-hover {
  color: $primary-hover-color;
}

.color-background {
  background-color: $background-color;
}

.color-container-bg {
  background-color: $container-bg-color;
}

.color-text {
  color: $text-color;
}

.color-white {
  color: $color-white;
}

.color-brand {
  color: $color-brand;
}
