@import "variables";

body {
  background-color: $background-color;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.bg-white {
  background-color: white;
}

.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: $primary-color;
  color: $text-color;
  padding: $padding;
  display: flex;
  align-items: center;

  .back-btn {
    margin-right: $padding;
  }
}

.chat-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 15px;
}

.message-sent {
  text-align: right;

  .message-text {
    background-color: $primary-color;
    color: $text-color;
  }
}

.message-received {
  .message-text {
    background-color: $secondary-color;
  }
}

.message-text {
  display: inline-block;
  padding: $padding;
  border-radius: $border-radius;
  max-width: 70%;
}

.chat-footer {
  background-color: $text-color;
  padding: $padding;
  border-top: 1px solid #ddd;

  .input-group {
    align-items: center;

    .form-control {
      border: none;
      border-radius: $border-radius;
      background-color: $background-color;
    }

    .btn {
      border: none;
      background-color: transparent;
      color: $primary-color;

      i {
        color: $primary-color;
      }
    }
  }
}
